* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    font-size: 2rem;
}

.px {
    padding: 5rem;
    font-size: 0.5em;
    background: lightblue;
}

/* .px2 {
    margin-top: 6rem;
} */

/* .rem {
    font-size: 2rem;
    padding: 1rem;
    background: lightcoral;
} */