* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.px {
    font-size: 32px;
    margin: 5rem;
    background: lightblue;
}

.px2 {
    margin-top: 6rem;
}

/* .rem {
    font-size: 2rem;
    padding: 1rem;
    background: lightcoral;
} */